extends layout

block content
  if topic
    h1 All #{topic} Posts
    p Here are all my posts about #{topic}
  else
    h1 All Blog Posts
    p Here are a list of all my posts
  each posting in post
    h2
      a(href= '/post/' + posting._id ) #{posting.title}
    h4 #{posting.topic}
    h4 #{posting.date}

    p #{posting.post}

    p
      i #{posting.author}
    br
