extends layout

block content
  h1 Adam Blog
  p Welcome to #{title} Here is where I'm going to put my test posts
  h1 #{title}
  h2 #{post.title}
  h4 #{post.topic}
  h4 #{post.date}

  p #{post.post}

  p
    i #{post.author}

  h3 Links
  a(href='/post') Posts
  br
  a(href='/post/writePost') Write new post
