extends layout

block content
  h1 #{title}
  h2 #{post.title}
  h4 #{post.topic}
  h4 #{post.date}

  p #{post.post}

  p
    i #{post.author}

  h3 Comments
    each comment in post.comments
      p #{post.comments[0].body}
      p #{post.comments[0].name}

  form(method="post", action= post.id + '/addComment')
    | submit a comment:
    br
    textarea(rows="4" cols="50" name="comment")
    br
    name
    br
    input(type="text" name="name" placeholder="author")
    br
    input(type='submit' value='submit' )
